<h1><%= @user.username %></h1>
<h3>Hosted events:</h3><%#add the date near each event%>
<ul>
  <% Event.where(host: @user.id).each do |event| %>
    <li>
      <%= link_to event.name, event_path %> <%= event.date %>
    </li>
  <% end %>
</ul><br>
<% Invited.where(user_id: @user.id).each do |invited| %>
  <h3>He will go to:</h3>
    <% if invited.event.date > Time.now %>
      <ul>
        <li>
          <%= link_to invited.event.name, event_path %> <%= invited.event.date %>
        </li>
      </ul>
    <% end %><br>
  <h3>In the past he went to:</h3>
      <% if invited.event.date < Time.now %>
        <ul>
          <li>
            <%= link_to invited.event.name, event_path %> <%= invited.event.date %>
          </li>
        </ul>
      <% end %><br>
<% end %>

