<h1><%= @user.username %></h1>
<h3>Host of the events:</h3>
<ul>
  <% Event.where(host: @user.id).each do |event| %>
    <li>
      <%= link_to event.name, event_path %> <%= event.date %>
    </li>
  <% end %>
</ul><br>
<h3>Upcoming events:</h3>
<% Invited.where(user_id: @user.id).each do |invited| %>
  <% if invited.event.date > Time.now %>
    <ul>
      <li>
        <%= link_to invited.event.name, event_path %> <%= invited.event.date %>
      </li>
    </ul>
  <% end %>
<% end %><br>
<h3>Previously attended events:</h3>
<% Invited.where(user_id: @user.id).each do |invited| %>
  <% if invited.event.date < Time.now %>
    <ul>
      <li>
        <%= link_to invited.event.name, event_path %> <%= invited.event.date %>
      </li>
    </ul>
  <% end %>
<% end %><br>


